@font-face {
    font-family: "Inter";
    src: url("Inter-bold.ttf");
    src: url("Inter-ExtraBold.ttf") format("ttf"),
        url("Inter-Regular.ttf") format("ttf")
}


* {
 margin: auto;
 padding: 0;
 font-family: 'Inter',sans-serif;
}
body{
    background-color: rgb(252, 252, 250);
}

header{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.menu {
    display: flex;
    justify-content: space-evenly;
}
.logo{
    display: flex;
    margin-left:-10%;
    font-size: 4rem;
    font-family: 'Libre Baskerville',serif;

}
.menu-list{
    display: flex;
    list-style: none;
    margin-left: 50%;
}
li {
    margin: 20px;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
        list-style: none;
        color: black;
}
a:hover{
color:coral;
cursor: pointer;
}

.heading-banner {
    display: flex;
    justify-content: center;
}
.banner img {
    width:45%;
    border-radius: 30px;
}